{{#> layout currentPage = 'Project Detail'}}

<article class=" card myproject-detail" style="width: 70%;">
    <img src="{{project.image}}" alt="myProject_img" style="width: 60%; display: block; margin: auto;">
    <h4>{{project.name}}</h4>

    <p style="color: gray;">Durasi: {{project.duration}}</p>
    <p>{{project.description}}</p>
    <p>Teknologi: {{project.technologies}}</p>
    {{!-- <p>Technologies : {{project.technologies}}</p> --}}

    {{!-- <div id="icon_myProject">
        {{#each project.technologies}}
        <img src="{{this}}" alt="img-tech">
        {{/each}}
    </div> --}}
</article>

{{/layout}}